% render "layouts/basic.html" do

%# HTML tags can be embedded in mark down files if you want to do specific custom
%# formatting like this, but in most cases that is not required.
<h1><%= Origen.app.namespace %> <span style="font-size: 14px">(<%= Origen.app.version %>)</span></h1>

% lines = File.readlines("#{Origen.root}/README.md")
% lines.shift  # Lose the heading, we have our own here
<%= lines.join('') %>

% end
